@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: salmon;
}

#column-2 {
  background: mistyrose;
}

#column-3 {
  background: lightblue;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: brown;
  }

  .col-3 {
    width: 50%;
  }

  #column-1 {
    background-color: chocolate;
    width: 100%;
  }

  #column-2 {
    background-color: darkkhaki;
  }

  #column-3 {
    background-color: darkred;
  }

  footer {
    background-color: gainsboro;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: aquamarine;
  }

  #column-1 {
    background-color: blueviolet;
    width: 33.33%;
  }

  #column-2 {
    background-color: darkcyan;
    width: 33.33%;
  }

  #column-3 {
    background-color: darkorchid;
    width: 33.33%;
  }

  footer {
    background-color: aqua;
  }

}
